# provide /proc/config.gz always
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

# 250hz does the job well enough
CONFIG_HZ_250=y
# we only have 16 cpus
CONFIG_NR_CPUS=16
CONFIG_DEBUG_INFO_REDUCED=y
# I doubt any consumer laptops have more than 2 gpus
CONFIG_VGA_ARB_MAX_GPUS=2
# abdroid stuffs
CONFIG_ANDROID_BINDER_IPC=m
CONFIG_ANDROID_BINDERFS=m

# fs support
CONFIG_BTRFS_FS=m
CONFIG_F2FS_FS=m
CONFIG_NTFS3_FS=m
CONFIG_EROFS_FS=m
CONFIG_OVERLAY_FS=m
CONFIG_FUSE_FS=y

## disable some debugging
# CONFIG_SLUB_DEBUG is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_BLK_DEBUG_FS is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_BT_DEBUGFS is not set

# CONFIG_NET_DROP_MONITOR is not set
# CONFIG_CFG80211_DEBUGFS is not set
# CONFIG_MAC80211_DEBUGFS is not set
# CONFIG_MAC80211_MESSAGE_TRACING is not set
# CONFIG_ZRAM_MEMORY_TRACKING is not set
# CONFIG_THERMAL_DEBUGFS is not set
# CONFIG_SW_SYNC is not set
# CONFIG_IOMMU_DEBUGFS is not set
# CONFIG_RAS_CEC is not set
# CONFIG_NOP_TRACER is not set
# CONFIG_SCHED_CLASS_EXT is not set
# CONFIG_ACPI_DEBUGGER_USER is not set

## nuke other cpu support
# CONFIG_X86_MCE_INTEL is not set
# CONFIG_CPU_SUP_INTEL is not set
# CONFIG_CPU_SUP_HYGON is not set
# CONFIG_CPU_SUP_CENTAUR is not set
# CONFIG_CPU_SUP_ZHAOXIN is not set

## nuke
# CONFIG_USB_KBD is not set
# CONFIG_USB_MOUSE is not set
# CONFIG_MAXSMP is not set

# CONFIG_PREEMPT_DYNAMIC is not set
# CONFIG_INTEL_IOMMU is not set
# CONFIG_AGP is not set
# CONFIG_X86_INTEL_LPSS is not set
# CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS is not set
# CONFIG_INTEL_RAPL is not set
# CONFIG_PERF_EVENTS_INTEL_RAPL is not set
